{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>HR Pieroll System</title>


   <!-- bootstratp -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

   <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>


    <!-- /bootstratp -->

  <!--jquery-->

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https:///cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <!--/jquery-->
  <!--custom css-->
  <link rel="stylesheet" type="text/css" href=" {% static 'css/main_css.css' %} ">
  <!--/custom css-->

</head>


{% if user.is_authenticated == False %}
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'pictures/invo.png' %}" alt="Bootstrap" width="30" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        
      </ul>
      <a href="{% url 'main:login_request' %}" class="btn btn-primary">Login</a>
      <a href="{% url 'main:register_user' %}" class="btn btn-primary">Register</a>
    </div>
  </div>
</nav>
<h1>Please Login</h1>
</body>
{% elif user.is_authenticated %}

<body class="homepage_body">
<div>
  <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'pictures/invo.png' %}" alt="Bootstrap" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>
                    
                    
                    
                    <div class="pull-right">
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'main:logout_request' %}">Logout</a>
                            </li>
                            </div>

                </ul>

            </div>
        </div>
    </nav>
</div>


<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Welcome!</h4>
    <p>You are now logged in!</p>

    
</div>

</body>
{% endif %}



<script src="{% static 'javascript/main_js.js' %}"></script>
</html>






